Repository libuv/libuv, pull requests merged in 2020-01, with the labels that each got.

#2607 docs: clarify that uv_pipe_t is a pipe
  docs/src/guide/processes.rst
  docs/src/pipe.rst
Labels: doc

#1965 win,tty: avoid regressions in utf-8 handling
  src/win/tty.c
Labels: windows

#2611 fix truncated assertion messages on windows CI
  test/runner-unix.c
  test/runner-win.c
  test/runner.c
Labels: test

#2626 osx,fsevent: fix race during uv_loop_close
  src/unix/fsevents.c
Labels: bug, macos

#2617 test,udp6: fix udp_ipv6 test flakiness
  test/test-udp-ipv6.c
Labels: test

#1960 adds check so we only queue one copy of the async wakeup request
  CMakeLists.txt
  Makefile.am
  src/win/core.c
  test/test-async-multi.c
  test/test-list.h
  test/test.gyp
Labels: windows
