Repository libuv/libuv, pull requests merged in 2021-06, with the labels that each got.

#3036 win,tcp: make uv_close work more like unix
  src/uv-common.h
  src/win/tcp.c
  test/test-ipc.c
Labels: not-stale, pending-review

#3201 doc: unable to send pipe handle on Windows
  docs/src/stream.rst
Labels: doc

#2590 unix: implement cpu_relax() on arm64, ppc64
  src/unix/atomic-ops.h
Labels: pending-CI, stale

#3204 docs: move list of project links under PR control
  LINKS.md
  README.md
  docs/src/guide/introduction.rst
  docs/src/index.rst
Labels: doc
